<section class="container">
  <div class="row">
    <div class="col-2 navbar-menu">
      <div class="card">
        <div class="card-header">
          <p class="pl-15">Меню “Ассортимент”</p>
        </div>
        <div class="card-body">
          <ul class="nav-menu">
            <li>
              <a href="">Товары </a>
            </li>
            <li>
              <a href=""> Акции и скидки</a>
            </li>
            <li>
              <a href=""> Автоматическая загрузка</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-7 main">
      <h2 class="mt-0 mb-21">Добивить товар</h2>
      <div class="content">
        <div class="row">
          <div class="col-11 content-block">
            <div class="form-group">
              <label for="">Название</label>
              <input class="form-control" placeholder="Введите название товара ">
              <small class="form-text text-muted text-right">Не более 250 символов</small>
            </div>
            <div class="form-group category-block">
              <label for="">Категория</label>
              <select class="form-control">
                <option value="">Выбрать</option>
              </select>
            </div>

            <hr class="first-hr"/>

            <!-- photo upload start -->
            <div class="form-group pt-0">
              <label for="photo" class="photo">Фотографии</label>
              <span class="tooltip" id="photo">Это фото буде первым на обложке</span>
            </div>
            <div class="row">
              <div class="image-upload tip">
                <div class="form-group">
                  <label for="image_1">
                    <input type="file" id="image_1">
                  </label>
                </div>
              </div>
              <div class="image-upload">
                <div class="form-group">
                  <label for="image_2">
                    <input type="file" id="image_2">
                  </label>
                </div>
              </div>
              <div class="image-upload">
                <div class="form-group">
                  <label for="image_3">
                    <input type="file" id="image_3">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="image-upload mb-0">
                <div class="form-group">
                  <label for="image_4">
                    <input type="file" id="image_4">
                  </label>
                </div>
              </div>
              <div class="image-upload mb-0">
                <div class="form-group">
                  <label for="image_5">
                    <input type="file" id="image_5">
                  </label>
                </div>
              </div>
              <div class="image-upload mb-0">
                <div class="form-group">
                  <label for="image_6">
                    <input type="file" id="image_6">
                  </label>
                </div>
              </div>
            </div>
            <!-- photo upload end -->
            <div class="form-group">
              <label for="video-input" class="video">Видео</label>
              <span class="tooltip w100 pl-32">Вы можете добавить видео товара, для этого нужно прикрепить ссылку с адресом где находится видео</span>
              <input id="video-input" class="form-control" placeholder="Добавте ссылку на видео ">
            </div>

            <div class="form-group pt-0">
              <label for="brand-select" class="brand-select">Бренд</label>
              <select id="brand-select" class="form-control">
                <option value="">Выбрать</option>
              </select>
            </div>

            <!-- summernote start -->
            <div class="form-group pt-0">
              <label for="summernote" class="summernote">Описание</label>
              <textarea id="summernote"></textarea>
            </div>
            <!-- summernote end -->
            <div class="row">
              <div class="form-group pt-0">
                <p class="bar-code">Шрих код</p>
                <div class="image-upload tip mr-40 ">
                  <div class="form-group">
                    <label for="barcode" class="barcode">
                      <input type="file" id="barcode">
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group pt-0">
                <p class="bar-code">QR код</p>
                <div class="image-upload tip">
                  <div class="form-group">
                    <label for="barcode" class="barcode">
                      <input type="file" id="barcode2">
                    </label>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-12 parameters-block">
            <!-- table 1 start -->
            <div class="form-group pt-0">
              <hr class="second-hr"/>
              <label for="bordered" class="bordered-label">Праметры их значение</label>
              <table id="bordered" class="parameters-table bordered" border="1" cellspacing="0" cellpadding="0">
                <thead class="text-left">
                <tr>
                  <th>Параметры</th>
                  <th colspan="1">Значение</th>
                  <th width="12%">Влияет на цену</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Цвет</td>
                  <td>
                       <span class="badge badge-primary">
                         <span class="close-icon"></span>
                          Красный
                           </span>
                    <span class="badge badge-primary">
                                                    <span class="close-icon"></span>
                                                    Красный
                                                </span>
                    <span class="badge badge-primary">
                                                    <span class="close-icon"></span>
                                                    Красный
                                                </span>
                    <span class="add-circle-icon"></span>
                  </td>
                  <td class='bordered-checkbox-block'>
                    <label class="checkbox-new-style no-margin">
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>Размер</td>
                  <td>
                                                <span class="badge badge-primary">
                                                    <span class="close-icon"></span>
                                                    M
                                                </span>
                    <span class="badge badge-primary">
                                                    <span class="close-icon"></span>
                                                    L
                                                </span>
                    <span class="badge badge-primary">
                                                    <span class="close-icon"></span>
                                                    XL
                                                </span>
                    <span class="add-circle-icon"></span>
                  </td>
                  <td class='bordered-checkbox-block'>
                    <label class="checkbox-new-style no-margin">
                      <input type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>Ткань</td>
                  <td><span class="add-circle-icon"></span><span class='pl-5 '>Добавить</span></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Производитель</td>
                  <td><span class="add-circle-icon"></span><span class='pl-5 '>Добавить</span></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Предназначение</td>
                  <td><span class="add-circle-icon"></span><span class='pl-5 '>Добавить</span></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Пол</td>
                  <td><span class="add-circle-icon"></span><span class='pl-5 '>Добавить</span></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Линейка</td>
                  <td><span class="add-circle-icon"></span><span class='pl-5 '>Добавить</span></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- table 1 end -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 price-content">
            <div class="form-group">
              <label for="" class="bordered-label">Цены</label>
              <table width="100%" class="bordered" border="1" cellspacing="0" cellpadding="0">
                <tr>
                  <th>Цвет</th>
                  <th>Размер</th>
                  <th>Материал</th>
                  <th>Цена US $</th>
                </tr>
                <tr>
                  <td rowspan="9">Красный</td>
                  <td rowspan="3">Размер: М</td>
                  <td>Материал: Кожа</td>
                  <td class='bordered-value'>1.46</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td rowspan="3">Размер: L</td>
                  <td>Материал: Кожа</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td rowspan="3">Размер: XL</td>
                  <td>Материал: Кожа</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td rowspan="9">Цвет: Зелений</td>
                  <td rowspan="3">Размер: М</td>
                  <td>Материал: Кожа</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td rowspan="3">Размер: L</td>
                  <td>Материал: Кожа</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td rowspan="3">Размер: XL</td>
                  <td>Материал: Кожа</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td rowspan="9">Цвет: Черный</td>
                  <td rowspan="3">Размер: М</td>
                  <td>Материал: Кожа</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td rowspan="3">Размер: L</td>
                  <td>Материал: Кожа</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td rowspan="3">Размер: XL</td>
                  <td>Материал: Кожа</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Замша</td>
                  <td>Цена</td>
                </tr>
                <tr>
                  <td>Материал: Кожзам</td>
                  <td>Цена</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 sidebar">
      <div class="right-side info-bar">
        <div class="red-bg"></div>
        <div class="info-block">
          <p class="title mt-0"><b>Macbook Pro 13 "i5 8G 256G с сенсорной панелью</b></p>
          <div class="bg-grey">
            <p class="price-block">US $2,456 - US $2,456</p>
          </div>
          <div class="brand-block">
            <div class="form-group pt-0">
              <label for="">Бренд</label>
              <p class="no-margin"><span class="brand-logo"></span> Apple Inc.</p>
            </div>
          </div>
          <div>
            <div class="form-group pt-0">
              <label for="">Диагональ</label>
            </div>
            <label for="type_1" class="radio-style">
              <input type="radio" id="type_1">
              13,9”
            </label>
            <label for="type_2" class="radio-style">
              <input type="radio" id="type_2">
              14,9”
            </label>
            <label for="type_2" class="radio-style">
              <input type="radio" id="type_2">
              16,8”
            </label>
          </div>

          <div>
            <div class="form-group pt-0">
              <label for="">Память</label>
            </div>
            <label for="memory_1" class="radio-style">
              <input type="radio" id="memory_1">
              512 DDR
            </label>
            <label for="memory_2" class="radio-style">
              <input type="radio" id="memory_2">
              1024 DDR
            </label>
          </div>
          <hr class="mb-0 mt-0"/>

          <div class="mb-15 characters">
            <div class="form-group pt-0">
              <label class="characters-title">Характеристики</label>
            </div>
            <p class="fs-13 no-margin characters-value">Название характеристики: <b>Значение</b></p>
            <p class="fs-13 no-margin characters-value">Название характеристики: <b>Значение</b></p>
            <p class="fs-13 no-margin characters-value">Название характеристики: <b>Значение</b></p>
          </div>

          <div class="pt-15 pb-15 bg-grey info-block-footer">
            <div class="form-group pl-15 info-block-footer-content">
              <button class="btn btn-danger">Сохранить товар</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<div class="footer">
  <div class="top">
    <div class="col">
      <div class="title">
        Название колонки
      </div>
      <a href="" class="link">
        Помощь и Обратная связь
      </a>
      <a href="" class="link">
        Блог ECRO Place
      </a>
      <a href="" class="link">
        Условия использования
      </a>
      <a href="" class="link">
        Как продавать и покупать?
      </a>
      <a href="" class="link">
        Правила безопасности
      </a>
      <a href="" class="link">
        Карта сайта
      </a>
      <a href="" class="link">
        Популярные запросы
      </a>
      <a href="" class="link">
        Рекламные предпочтения
      </a>
    </div>
    <div class="col">
      <div class="title">
        Название колонки
      </div>
      <a href="" class="link">
        Платные услуги
      </a>
      <a href="" class="link">
        Для прессы
      </a>
      <a href="" class="link">
        Реклама на сайте
      </a>
      <a href="" class="link">
        Партнёры
      </a>
      <a href="" class="link">
        Работа в ECRO Place
      </a>
    </div>
    <div class="col">
      <div class="title">
        Подписываеся на наши новости и буть в курсе последних событий, акций и предложениф именно для тебя
      </div>
      <div class="feedback-wrapper">
        <input class="mail" type="text" placeholder="Введите свой емаил">
        <div class="subscribe">
          <div class="text">
            Подписаться
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="indent-line"></div>
  <div class="bottom">
    <div class="copyright">
      © ECRO Place, Inc., 2019
    </div>
    <div class="social-networks">
      <a href="#" class="network-wrapper">
        x
      </a>
      <a href="#" class="network-wrapper">
        x
      </a>
      <a href="#" class="network-wrapper">
        x
      </a>
      <a href="#" class="network-wrapper">
        x
      </a>
    </div>
  </div>
</div>

