.banner-wrapper {
  position: relative;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fad9ad;

  .banner {
    width: 100%;
    min-width: 1024px;
    max-width: 1300px;
    object-fit: contain;
  }
}

.header {
  position: relative;
  z-index: 13;
  width: 100%;
  background: #E5E5E5;

  .menu-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;

    .menu-list {
      height: 18px;
      display: flex;
      align-items: center;

      .menu-item {
        position: relative;
        font-size: 12px;
        color: #000;
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;

        &:after {
          content: '';
          margin: 0 8px;
          height: 100%;
          width: 1px;
          background: #C4C4C4;
          position: absolute;
        }

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .row-wrapper {
    display: flex;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(209, 209, 209, 0.4);

    .row {
      padding: 14px 0 0;
      max-width: 1300px;
      min-width: 1024px;
      margin: 0 auto;
      width: 100%;
      display: flex;

      .logo-wrapper {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
          width: 170px;
          height: 74px;
          object-fit: contain;
        }

        .description {
          font-size: 11.3px;
          color: #FF8818;
        }
      }

      .in-page {
        padding-bottom: 12px;

        .logo {
          height: 48px;
          margin-top: -4px;
        }

        //height: 56px;
        //overflow: hidden;
      }

      .category {
        position: relative;
        margin-left: 37px;
        width: 100%;
        height: 40px;
        max-width: 95px;
        display: flex;
        background: rgba(209, 209, 209, 0.4);
        border-radius: 2px;
        padding: 0 9px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .category-icon {
          width: 17px;
          height: 14px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .line {
            background: #6F7981;
            width: 100%;
            height: 2px;
          }
        }

        .text {
          font-size: 12px;
          color: #6F7980;
        }

        .arrow {
          position: relative;
          top: 2px;
          border: 5px solid transparent;
          border-top: 5px solid #6F7980;

          &.active {
            top: -2px;
            transform: rotate(180deg);
          }
        }

        .list-categories-wrapper {
          position: absolute;
          z-index: 12;
          left: 0;
          top: 40px;
          display: flex;

          .main-list, .side-list {
            max-height: 496px;
            overflow-y: auto;
            width: 224px;
            background: #fff;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            display: flex;
            flex-direction: column;

            .item-category {
              text-decoration: none;
              padding: 10px 10px 10px 33px;
              border-top: 1px solid #fff;
              border-bottom: 1px solid #fff;
              color: #000;

              &.active {
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                color: #EB0045;
              }
            }
          }

          .side-list {
            width: 599px;
            box-shadow: none;
            padding-top: 15px;

            .item-category {

              &:hover {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                color: #EB0045;
              }
            }
          }
        }
      }

      .search-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 581px;
        margin-left: 11px;

        .search-input {
          background: #FFFFFF;
          border: 1px solid #D9D9D9;
          box-sizing: border-box;
          border-radius: 2px;
          padding: 10px 34px 10px 14px;
          font-size: 12px;
          line-height: 18px;

          &::-moz-placeholder {
            color: #C4C4C4;
          }

          &::-webkit-input-placeholder {
            color: #C4C4C4;
          }

          &:-ms-input-placeholder {
            color: #C4C4C4;
          }

          &::-ms-input-placeholder {
            color: #C4C4C4;
          }

          &::placeholder {
            color: #C4C4C4;
          }
        }

        .button-search {
          outline: none;
          border: none;
          position: absolute;
          top: 1px;
          right: 1px;
          width: 31px;
          height: 38px;
          cursor: pointer;
          background: #fff;

          .search-icon {
            width: 100%;
            height: 100%;
          }
        }

        .search-commend {
          margin-top: 5px;
          height: 18px;
          display: flex;
          align-items: center;

          .search-item {
            position: relative;
            font-size: 12px;
            color: #000;
            padding-right: 8px;
            padding-left: 8px;
            cursor: pointer;

            &:after {
              content: '';
              margin: 0 8px;
              height: 100%;
              width: 1px;
              background: #C4C4C4;
              position: absolute;
            }

            &:first-of-type {
              padding-left: 0;
            }

            &:last-of-type {
              padding-right: 0;

              &::after {
                display: none;
              }
            }
          }
        }
      }

      .basket,
      .desires,
      .profile {
        cursor: pointer;
        margin-left: 24px;
        width: 100%;
        max-width: 82px;
        height: 35px;
        display: flex;
        align-items: center;

        .icon {
          width: 100%;
          max-width: 32px;
          height: 100%;
          object-fit: contain;
        }

        .description {
          margin-left: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .counter {
            width: 26px;
            height: 15px;
            background: #EB0045;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            .number {
              font-weight: 500;
              font-size: 13px;
              line-height: 15px;
              color: #fff;
            }

            margin-bottom: 5px;
          }

          .text {
            font-size: 12px;
            line-height: 14px;
            color: #201600;

            a {
              text-decoration: none;
              color: #201600;
              transition: all .2s;

              &:hover {
                color: #EB0045;
              }
            }
          }

          &.login {
            width: 100%;

            .text {
              text-align: center;
            }
          }
        }
      }

      .profile {
        max-width: 130px;

        .photo-wrapper {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          overflow: hidden;

          .photo {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .tape-wrapper {
    background: #fff;

    .tape {
      width: 100%;
      max-width: 1300px;
      min-width: 1024px;
      margin: 0 auto;
      padding: 13px 0 0;
      display: flex;

      .item-tape {
        display: flex;
        flex-wrap: wrap;
        min-height: 96px;
        padding-right: 46px;
        margin-right: 20px;
        cursor: pointer;

        .border-wrapper {
          position: absolute;
          z-index: 10;
          padding: 3px;
          background: #fff;
          border: 2px solid #FC8313;;
          border-radius: 50%;

          .cover-wrapper {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;

            .cover {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

            &.empty {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #F2F2F2;;

              .cover {
                width: 30px;
              }
            }
          }
        }

        .inner-pad {
          display: flex;
          align-items: center;
          position: relative;
          z-index: 9;
          left: 45px;

          .image-pad {
            width: 100%;
            height: 100%;
            max-height: 50px;
            object-fit: cover;

            &:last-of-type {
              border-bottom-right-radius: 8px;
              border-top-right-radius: 8px;
              overflow: hidden;
            }
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }

      .description {
        padding-left: 5px;
        width: 100%;
        font-size: 11px;
        line-height: 24px;
        color: #6F7981;
      }
    }
  }

  .sales-wrapper {
    height: 90px;
    width: 100%;
    background-size: cover;
  }

  .product-pg-menu-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    ul {

      li {
        float: left;
        margin: 12px 15px;

        &:first-child {
          margin-left: 0px;
        }

        a {
          font-family: 'Roboto', 'Heebo';
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 16px;
          color: #000000;
          text-decoration: none;
          transition: all .2s;

          &:hover {
            color: #f00000;
          }
        }
      }
    }
  }
}

.footer {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 52px;

  .top,
  .bottom {
    width: 100%;
    max-width: 1300px;
    min-width: 1024px;
    margin: 0 auto;
    display: flex;
  }

  .top {
    padding: 36px 0 21px 0;

    .col {
      width: 100%;
      max-width: 206px;
      margin-right: 10%;

      .title {
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 10px;
      }

      .link {
        display: block;
        font-size: 13px;
        line-height: 24px;
        color: #6F7981;
        text-decoration: none;
      }

      .feedback-wrapper {
        display: flex;

        .mail {
          width: 100%;
          max-width: 265px;
          background: #FFFFFF;
          border: 1px solid #D9D9D9;
          box-sizing: border-box;
          border-radius: 2px;
          padding: 10px 34px 10px 14px;
          font-size: 12px;
          line-height: 18px;
          outline: none;

          &::-moz-placeholder {
            color: #C4C4C4;
          }

          &::-webkit-input-placeholder {
            color: #C4C4C4;
          }

          &:-ms-input-placeholder {
            color: #C4C4C4;
          }

          &::-ms-input-placeholder {
            color: #C4C4C4;
          }

          &::placeholder {
            color: #C4C4C4;
          }
        }

        .subscribe {
          margin-left: -1px;
          width: 140px;
          height: 40px;
          background: #F23F44;
          border-radius: 0 4px 4px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .text {
            font-weight: bold;
            font-size: 13px;
            line-height: 19px;
            color: #FFFFFF;
          }
        }
      }

      &:last-of-type {
        max-width: 400px;
        margin-right: 0;

        .title {
          margin-bottom: 22px;
        }
      }
    }
  }

  .indent-line {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
  }

  .bottom {
    padding: 30px 0 80px;
    justify-content: space-between;
    align-items: center;

    .copyright {
      font-size: 13px;
      line-height: 19px;
      color: #6F7981;
    }

    .social-networks {
      display: flex;

      .network-wrapper {
        margin-right: 8px;
        width: 40px;
        height: 40px;
        background: #6F7981;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.navbar-menu {
  padding-top: 16px;
  padding-right: 7.5px;
}

.main {
  padding-left: 7.5px;
  padding-top: 27px;
  padding-right: 8px;
}

.sidebar {
  padding-left: 8px;
}

.form-text {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

label {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 4px;

}

input.form-control, select.form-control {
  display: block;
  width: 100%;
  padding: 9px 0 10px 14px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow: visible;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

.form-group {
  padding-top: 24px;
}

.form-group p {
  font-weight: bold;
}

.content {
  background: #FFFFFF;
  border-radius: 8px;
}

.photo {
  margin-bottom: 9px;
}

.video {
  margin-bottom: 5px;
}

.content-block {
  padding-left: 26px;
  padding-top: 0;
  padding-bottom: 12px;
}

.category-block {
  padding-top: 1.4px;
}

.card {
  background: #FFFFFF;
  border-radius: 4px;
}

.card-header {
  padding: 10px 0px;
  border-bottom: solid 1px #e5e5e5;
}

.card-header p {
  font-size: 13px;
  line-height: 16px;
  color: #FC8313;
  margin: 0;
}

.card-body {
  padding: 0 0 1px;
}

.card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 32px;
  font-size: 15px;
}


.card-body ul li {
  padding: 5px 17px;
}

.card-body ul li:last-child {
  line-height: 18px;
  padding-bottom: 20px;
}

.image-upload {
  width: 84px;
  height: 84px;
  border: 1px dashed #C4C4C4;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  margin: 0 8px 8px 0;
}

.image-upload .form-group {
  width: 80px;
  height: 80px;
  background: #E5E5E5;
  position: absolute;
  top: 1px;
  left: 1px;
  margin: 0px;
}

.image-upload .form-group label {
  display: block;
  height: 100%;
}

.brand-select {
  padding-top: 16px;
  margin-bottom: 3px;
}

.summernote {
  padding-top: 19px;
  margin-bottom: 3px;
}

.bar-code {
  margin-top: 20px;
  margin-bottom: 8px;
}


.first-hr {
  margin-top: 23px;
  margin-bottom: 18px;
}

.second-hr {
  margin-top: 0;
  margin-bottom: 31px;
}

.image-upload .form-group label::before {
  content: '+';
  padding: 1.5px 6.5px;
  background: #3DA2FF;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  justify-content: center;
}

.image-upload .form-group label input {
  opacity: 0;
  width: 100%;
}

.barcode::before {
  background: #C4C4C7 !important;
}

.badge {
  display: inline-block;
  background: #FDCC9B;
  border-radius: 3px;
  padding: 1px 5px 1px 24px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: relative;
  margin-right: 5px;
}

.badge .close-icon:before, .badge .close-icon:after {
  position: absolute;
  left: 10px;
  top: 4px;
  content: ' ';
  height: 11px;
  width: 2px;
  background-color: #fff;
}

.badge .close-icon:before {
  transform: rotate(45deg);
}

.badge .close-icon:after {
  transform: rotate(-45deg);
}

.add-circle-icon {
  width: 16px;
  height: 16px;
}

.add-circle-icon::before {
  content: '+';
  padding: 1px 7px;
  background: #3DA2FF;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
}

span.tooltip {
  display: block;
  position: relative;
  width: 250px;
  padding: 5px;
  z-index: 100;
  background: rgba(244, 191, 83, 0.3);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 11px;
  color: #000;
  -moz-border-radius: 5px; /* this works only in camino/firefox */
  -webkit-border-radius: 5px; /* this is just for Safari */
}

span.tooltip:before {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(244, 191, 83, 0.3);
  top: 23px;
  left: 30px;
}

.tip:hover span.tooltip {
  display: block;
}

.info-bar {
  margin-top: 75px;
  background: white;
  border-radius: 8px;
}

.info-block {
  padding: 30px 15px 0;
}

.info-bar .title {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
}

.bg-grey {
  background: #F7F7F7;
}

.info-bar .price-block {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  padding: 7px 0 7px 10px;
  margin-bottom: 0;
}

.red-bg {
  height: 7px;
  background: #F23F44;
  border-radius: 0px 0px 8px 8px;
  transform: rotate(-180deg);
}

.brand-block {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  padding-top: 13px;
  padding-bottom: 9px;
}

.brand-logo {
  width: 13px;
  display: inline-block;
  height: 13px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/863px-Apple_logo_black.svg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.radio-style {
  text-align: center;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  padding: 6px 8px 7px 9px;
  margin: 6px 12px 15px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
}

.radio-style input {
  width: 0px;
  opacity: 0;
  display: none;
}

.fs-13 {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.info-block-footer {
  margin: 0px -15px;
  border-radius: 0 0 8px 8px;
  padding-top: 0;
  padding-bottom: 0;

  &-content {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.btn {
  border-radius: 4px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
}

.btn-danger {
  background: rgba(242, 63, 68, 0.2);
  border: 1px solid #F23F44;
  box-sizing: border-box;
  border-radius: 4px;
  color: #F23F44;
}

.bordered {
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 1px #CCCCCC;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}

.parameters-block {
  padding-left: 26px;
}

.price-content {
  padding-left: 26px;
}

table {
  min-width: 600px;
  border-spacing: 0;
}

.bordered th:first-child {
  border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
}

.bordered tbody {
  vertical-align: top;
}

.bordered th:last-child {
  border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
}

.bordered-checkbox-block {
  text-align: center !important;
  vertical-align: middle;

  label {
    width: 20px;
    height: 15px;
  }
}

.bordered-label {
  margin-bottom: 6px;
}

.bordered td:first-child, .bordered th:first-child {
  border-left: medium none;
}

.vertical-top {
  vertical-align: top;
}

.bordered th {
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(center top, #F7F7F7, #F7F7F7);
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#F7F7F7), to(#F7F7F7), color-stop(.4, #F7F7F7));
  border-top: medium none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.bordered td, .bordered th {
  border-left: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 7px 10px 7px 10px;
  text-align: left;
  font-weight: 500;
}


.bordered td:last-child {
  color: #C4C4C4;
}

.bordered-value {
  color: #000000 !important;
}

.checkbox-new-style {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-new-style input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 4px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-new-style:hover input ~ .checkmark {
  background-color: #ccc;
  border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-new-style input:checked ~ .checkmark {
  background: #F23F44;
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-new-style input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-new-style .checkmark:after {
  left: 7px;
  top: 2px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.characters {
  padding-top: 15px;

  &-title {
    padding-bottom: 7px;
  }

  &-value {
    padding-bottom: 3px;
  }
}

/*
media query
*/
@media only screen and (max-width: 992px) {
  .container {
    width: 960px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 540px;
  }
}
