/* You can add global styles to this file, and also import other style files */
body {
  background: #E5E5E5;
  font-family: 'Heebo', sans-serif;
  font-style: normal;
  font-weight: normal;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: #000;
}

.text-center {
  text-align: center;
}


.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


.container {
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.row {
  display: flex;
}

.col-12 {
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  padding: 15px;
}


.col-11 {
  -ms-flex: 2; /* IE 10 */
  flex: 2;
  padding: 15px;
}

.col-7 {
  -ms-flex: 7; /* IE 10 */
  flex: 7;
  padding: 15px;
}

.col-3 {
  -ms-flex: 3; /* IE 10 */
  flex: 3;
  padding: 15px;
}

.col-2 {
  -ms-flex: 2; /* IE 10 */
  flex: 2;
  padding: 15px;
}

.col-1 {
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  padding: 15px;
}


.no-margin {
  margin: 0px !important;
}

.w100 {
  width: 100% !important;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mr-40 {
  margin-right: 40px !important;
}

.pt-15 {
  padding-top: 15px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.pt-0 {
  padding-top: 0 !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.pb-15 {
  padding-bottom: 15px;
}
